/**
 * @Description: 项目中的基础公共样式
 * @date 2023/8/16
*/

/**
 *  注释：自定义滚动条样式
 * */
::-webkit-scrollbar {
  width: 6px; /* 滚动条宽度 */
}

::-webkit-scrollbar-track {
  background-color: #eaeaea; /* 轨道背景颜色 */
}

::-webkit-scrollbar-thumb {
  background-color: #c4c4c4; /* 滑块背景颜色 */
  border-radius: 6px; /* 滑块圆角 */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8; /* 鼠标悬停时滑块背景颜色 */
}


/**
 *  注释：margin相关
 * */
.mr3 {
  margin-right: 3px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px;
}

.mr30 {
  margin-right: 30px;
}

.ml3 {
  margin-left: 3px;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.ml20 {
  margin-left: 20px;
}

.ml30 {
  margin-left: 30px;
}

/**
 *  注释：常用的flex布局
 * */
.flex{
  display: flex;
}
