/**
 *  注释：弹性盒子
 * */
@mixin flexRow($justify: space-between, $align: center, $flex-wrap: wrap) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $flex-wrap;
}
@mixin flexCol($justify: space-between, $align: center, $flex-wrap: wrap) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $flex-wrap;
}

/**
 *  注释：颜色变量
 * */
$theme-color: #a97642;
$theme-deep-color: #894811;
$theme-light-color: #f2e4c6;
